
  .orgCard{
    width:370px;
    margin:0 auto;
  }
  .organization-box{
    padding-top: 6%;
  }
.organization{
  width: 450px;
}

.cardOrgList{
  background-color: #4520ab;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
}
.card-titleOrg{
  color:rgb(243 217 99);
  margin: 10px auto;
  font-weight: bold;

}

.ratingBody {
  position: relative;
  color: #4c4c4c;
}

.ratingBody::before {
  content: "★★★★★";
  display: block;

}

.ratingActive {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.ratingActive::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: yellow
}

.ratingItems {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ratingItem {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.ratingValue {
  font-size: 50%;
  line-height: 1;
  box-sizing: border-box;
  padding: 0px 0px 0px 10px;
}
.card-textOrg{
  color: white;
  margin-top: 15px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
