.searchStudentCard{
  width: 234px;
  height: 370px;
  margin: 50px 15px;
  background-color: #4520ab;
  color: wheat;
  /* border-radius: 10px; */
  border: #6e5757 solid 1px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.imgSearch{
  width: 232px;
  height: 202px;
  /* margin-top: 10px; */
  margin-bottom: 4px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.searchInput{
  /* width: 180px;  */
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    margin-left: 5px;
    margin-bottom: 4px;
    white-space: nowrap;
}
